{%extends 'solitonems/base.html'%}
{% load humanize %}
{% load static %}
{% load javascript_settings_tags %}
{% block page_title %}
Create your leave plan
{% endblock %}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <button class="btn btn-danger" data-toggle="modal"
                data-target="#modal_apply_overtime">Create your leave plan</button>
        <div class="card animated fadeInUp">
            <div class="card-body">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <h3>Recent Leave Plans</h3>
                {%if recent_leave_plans%}
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                        <th>ID</th>
                        <th>Plan Date</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>No. of Days</th>
                        <th>Description</th>
                        <th>Approval Status</th>
                        </thead>
                        {%for recent_leave_plan in recent_leave_plans%}
                        <tr>
                            <td>{{recent_leave_plan.id}}</td>
                            <td>{{recent_leave_plan.plan_date}}</td>
                            <td>{{recent_leave_plan.start_date}}</td>
                            <td>{{recent_leave_plan.end_date}}</td>
                            <td>{{recent_leave_plan.no_of_days}}</td>
                            <td>{{recent_leave_plan.description}}</td>
                            <td>{{recent_leave_plan.approval_status}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
                {%else%}
                <h3>No leave plans available</h3>
                {%endif%}
            </div>
        </div>

        <!-- Modal: modalApplyOvertime -->
        <div class="modal fade" id="modal_apply_overtime" tabindex="-1" role="dialog"
             aria-hidden="true" style="overflow-y: auto !important">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Leave Plan</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <form method="post">
                            {%csrf_token%}
                            <div class="form-group">
                                <label>Start Date</label>
                                <input class="form-control" id="start_date" type="date" name="start_date" required/>
                            </div>
                            <div class="form-group">
                                <label>End Date</label>
                                <input class="form-control" id="end_date" type="date" name="end_date" required/>
                            </div>
                            <div class="form-group">
                                <label>Number of days</label>
                                <input class="form-control" id="number_of_days" type="number"
                                       name="number_of_days" value=0  required
                                       readonly />
                            </div>

                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" name="description"></textarea>
                            </div>

                            <input type="submit" value="submit" class="btn btn-danger"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block custom_js%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/leave_plan_form.js' %}"></script>
<script type="text/javascript">{% javascript_settings %}</script>
{%endblock%}

