{%extends 'solitonems/base.html'%}
{%block page_title %}
Leave Plans
{%endblock%}

{%block content%}
<div class="content">
    <div class="container-fluid">
        <div class="card animated fadeInUp">
            <div class="card-body">
                <button type="button" class="btn btn-outline-primary">
                    January <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn btn-primary">
                    February <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn btn-outline-primary">
                    March <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn btn-primary">
                    April <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn btn-outline-primary">
                    May <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn btn-primary">
                    June <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn btn-outline-primary">
                    July <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn btn-primary">
                    August <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn btn-outline-primary">
                    September <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn btn-primary">
                    October <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn btn-outline-primary">
                    November <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn btn-primary">
                    December <span class="badge badge-light">4</span>
                </button>
            </div>
        </div>
    </div>
</div>
{%endblock content%}